<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestNgMavenExampleSuite" parallel="false"
	thread-count="1">
	<listeners>
		<listener
			class-name="customisedreport.support.CustomisedListener" />
	</listeners>
	<test name="purePOM">
		<classes>
			<class name="com.astoudcommerce.task3.tests.HerokuappTestPOM" />
		</classes>
	</test>
</suite>